@use "../system/grids-syst" as sg;
@use "../system/flex-grid-syst" as sf;

.flex-grid {
  @include sf.flex-row(lg);
}

.container {
  @include sg.grids();

  .header,
  .footer,
  .section,
  .aside,
  .offset-percent,
  .offset-index,
  .offset-double,
  .one {
    padding: 1rem;
    justify-content: center;
    display: flex;
  }

  .header,
  .footer {
    @include sg.grid-column(xs, 1, 8);
    @include sg.grid-column(lg, 1, 13);

      background-color: #eee;
    h1{
      color: red;
    }
  }

  .main {
    @include sg.grid(xs);
    @include sg.grid(lg);

    @include sg.grid-column(xs, 1, 13);
    @include sg.grid-column(lg, 1, 21);
   
    .section {
      @include sg.grid-column(xs, 1, 4); 
      @include sg.grid-column(lg, 1, 12);//75%
      background-color: #bbb;
    }

    .aside {
      @include sg.grid-column(xs, 1, 12); //75%, 100%
      @include sg.grid-column(lg, 10, 13); //75%, 100%

      background-color: #aaa;
    }

    .offset-percent {
      @include sg.grid-column(xs, 10%, 100%); //33%, 100%
      background-color: #ccc;
    }

    .offset-index {
      @include sg.grid-column(xs, 5, 10 );  
      background-color: #ccc;
    }

    .offset-double {
      @include sg.grid-column(xs, 3, 70%);  
      background-color: #ccc;
      color: red;
    }

    .one-container {
      @include sg.grid(xs);
      @include sg.grid(lg);

      @include sg.grid-column(lg, 1, 22);
      @include sg.grid-column(xs, 1, 13);

    }
  }

}
