@import '../foundation/grids';

.container {
  @include grid();

  grid-gap: 1rem 1rem;

  .header,
  .footer,
  .section,
  .aside,
  .offset-percent,
  .offset-index,
  .offset-double,
  .one {
    padding: 1rem;
    justify-content: center;
    display: flex;
  }

  .header,
  .footer {
    @include grid-column();
    background-color: #eee;
    h1{
    color: red;
    }
  }

  .main {
    @include grid();
    @include grid-column();
         grid-gap: 1rem 1rem;

  }

  .section {
    @include grid-column(xs, 1, 10);//75%
    background-color: #bbb;
  }

  .aside {
    @include grid-column(xs, 10, 13); //75%, 100%
    background-color: #aaa;
  }

  .offset-percent {
    @include grid-column(xs, 5, 13); //33%, 100%
    background-color: #ccc;
  }

  .offset-index {
    @include grid-column(xs, 5, 10 );  //5, 10
    background-color: #ccc;
  }

  .offset-double {
    @include grid-column(xs, 3, 60%); //3, 60%
    background-color: #ccc;
  }

  .one-container {
    @include grid(xs);
    @include grid-column();
  }

}
