@use "../system/grids-syst" as sg;
@use "../system/typography-syst" as st;
@use "../system/colours-syst" as sc;
@use "../system/accessibility-syst" as sa;
@use "../system/borders-syst" as sb;
@use "../system/animation-syst" as san;
@use "../system/spacing-syst" as ss;

html {
    scroll-behavior: smooth;
}

ul {
    height: auto;
    opacity: 1;
    visibility: visible;
    transition: height 1s, opacity 1s;

    .hide {
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: height 1s, opacity 1s;
    }
}

#top {
    @include sg.grids();
    font-family: st.font-family();
     //grid-template-rows: 1fr 1fr;

     > header {
        @include sg.grid-column(lg, 1, 13);

        .inner {
            @include sg.grids();
            @include sg.grid-column(lg, 1, 13);
            background-color: sc.colour('html-test', 'header');
            position: fixed;
            width: 100%;
            @include sg.grids();
            z-index: 1;

            .inner-content{
                @include sg.grid-column(lg, 3, 10);
            
                p {
                    //@include sa.visually-hidden;
                }
            }
        }
 
    }

    > nav {
        @include sg.grid-column(lg, 3, 5);
         background: sc.colour('html-test', 'text');

       > ul {
            position: fixed;
            height: 100%;  
            padding: 1rem 0;
        }

        ul {
            list-style: none;
            li {
                font-size: 1.25rem;
                padding: .5rem 0;
                a {
                    text-decoration: none;
                    color: sc.colour('html-test', 'dark');;
                }
                ul {
                    padding: .25rem;

                    li {
                    padding: .25rem;
                    font-size: 1rem;
                    }
                }
            }
        }
    }

    main {
        @include sg.grid-column(lg, 5, 13);
        background-color: sc.colour('html-test', 'main');
 
        @include sg.grids();
        > section {
            @include sg.grid-column(lg, 2, 9);

            article {
                @include sb.border-outside(1px, dashed, sc.colour('html-test', 'text'), 0);
                padding: .5rem;

                padding: ss.spacing(md);
                margin-bottom: 1rem;
                color: sc.colour('html-test', 'dark');
                @include san.transition(color);

                &:hover {
                    color: sc.colour('html-test' );
                    @include san.transition(color);
                     //sc.colour('html-test', 'header');
                }
            }
        }
    }

    footer {
        @include sg.grid-column(lg, 1, 13);
        background-color: sc.colour('html-test');
    }
}
 
@include sg.cols-of(200, 20px);
 