.columns {
background: green;

  .header{
  font-family: Arial, sans-serif;
  	@include grids;
  //	@include grid(xs);

  	.mainPost{
	   	@include grid-column(lg, 1, 7);
        @include grid-column(xs, 1, 8);

        background: grey;
        grid-row: 1/4; //There should be a mixin for rows
  	}
  	.asidePost{
  	  	background: yellow;
  		@include grid-column(lg, 7, 14);
        @include grid-column(xs, 1, 5);
  	}

  	.asideCalendar{
  		@include grid-column(lg, 7, 14);
        @include grid-column(xs, 5, 8);

        @include grid(lg);

		@include media-breakpoint-down(lg){
			border: 1px solid red;
		}
        grid-row: 4/6;
    	grid-template-columns: repeat(5, 1fr);
  		grid-template-rows: minmax(115px, 1fr);

  		div{
 			&:nth-child(1){
 				background: black;
 				color: white;
 				grid-column: 1 / 5;
 			}	
  			&:nth-child(2){
  				background: blue;
  				grid-column: 5 / 6;

  				a{
  					display:block;
  					color: black;
  				}
  			}
  		}
  	}

    .besideCalendar{
         @include grid-column(lg, 1, 7);
        @include grid-column(xs, 1, 8);
    }
  }
}