.columns {
background: green;

  .header{
  font-family: Arial, sans-serif;
  	@include grid(lg);
  	@include grid(xs);

  	.mainPost{
	   	@include grid-column(lg, 1, 14);
        @include grid-column(xs, 1, 8);

        background: grey;
        grid-row: 1/4; //There should be a mixin for rows
  	}
  	.asidePost{
  	  	background: yellow;
  		@include grid-column(lg, 14, 21);
        @include grid-column(xs, 1, 5);
  	}

  	.asideCalendar{
  		@include grid-column(lg, 12, 21);
        @include grid-column(xs, 5, 8);

  		// display: grid;
        @include grid(lg);
        // This below should be only for xs screens
        grid-row: 4/6;

    	grid-template-columns: repeat(6, 1fr);
  		grid-template-rows: minmax(115px, 1fr);

  		div{
 			&:nth-child(1){
 				background: black;
 				color: white;
 				    grid-column: 1 /6;
 			}	
  			&:nth-child(2){
  				background: blue;
  				    grid-column: 6 / 7;
  				a{
  					display:block;
  					color: black;
  				}
  			}
  		}
  	}

    .besideCalendar{
        // @include grid-column(lg, 12, 21);
        @include grid-column(xs, 1, 8);
    }
  }
}