
/// The number of grid columns.
///
/// @group tokens
/// @type Map

$grids: (
  xs: (
    columns: 7,
    gutter: 1rem,
    rows: 3,
  ),

  lg: (
    columns: 12,
    gutter: 1rem,
    //rows: 2,
  )
) !default;